<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Ajouter un seance</strong> 
          <div class="float-right">
            <button class="btn btn-sm btn-secondary tooltip-test" [routerLink]="['/seance/tables']"
            title="Filtrer" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="icon-list"></i>
            </button>
          </div>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-horizontal">
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="dateevent">Date</label>
            <div class="col-md-9">
              <input
                type="date" placeholder="Entrer date d'evenement ..." id="dateevent" [min]="todayDate"
                formControlName="date"
                class="form-control"
                name="date"
                [ngClass]="{ 'is-invalid': submitted && f.date.errors }"
              />
              <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                <div *ngIf="f.date.errors.required">date de seance is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="select1">Evenement</label>
            <div class="col-md-9">
              <select id="select1" name="evenement" class="form-control" formControlName="evenement"
              class="form-control"
              name="evenement"
              [ngClass]="{ 'is-invalid': submitted && f.evenement.errors }">
                <option value="" selected disabled>Select Evenement</option>
                <option *ngFor="let evenement of evenements" [ngValue]="evenement">{{evenement.titre}}</option>
              </select>
              <div *ngIf="submitted && f.evenement.errors" class="invalid-feedback">
                <div *ngIf="f.evenement.errors.required">Evenement is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Film</label>
            <div class="col-md-9">
              <select id="select1" name="film" class="form-control" formControlName="film"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.film.errors }">
              <option value="" selected disabled>Select film</option>
              <option *ngFor="let film of films" [ngValue]="film">{{film.titre}}</option>
              </select>
              <div *ngIf="submitted && f.film.errors" class="invalid-feedback">
                <div *ngIf="f.film.errors.required">film is required</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Salle</label>
            <div class="col-md-9">
              <select id="select1" name="salle" class="form-control" formControlName="salle"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.salle.errors }">
              <option value="" selected disabled>Select salle</option>
              <option *ngFor="let salle of salles" [ngValue]="salle">{{salle.num}}</option>
              </select>
              <div *ngIf="submitted && f.salle.errors" class="invalid-feedback">
                <div *ngIf="f.salle.errors.required">salle is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="form.reset()"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
      </div>

    </div>
  </div><!--/.row-->

</div>
